<mat-card>
    <h1>Faire une publication</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">

                <form (ngSubmit)="addPublication()">    

                   <mat-form-field class="w-100" appearance="fill">
                        <mat-label> Entrer le titre </mat-label>
                        <input
                            [(ngModel)] = "publicationData.title"
                            type="text"
                            name="title"
                            placeholder="Quel est le titre de votre article ?"
                            matInput
                        />
                   </mat-form-field>

                   <mat-form-field class="w-100" appearance="fill">
                        <mat-label> Entrer le contenu </mat-label>
                        <textarea
                            [(ngModel)] = "publicationData.content" 
                            type="textarea"
                            name="content"
                            rows="5"
                            placeholder=" Votre article va intéresser la communauté ?"
                            matInput
                        >
                        </textarea>
                    </mat-form-field>
                    
                    <mat-form-field class="w-100" appearance="fill">
                        <mat-label> Date de la publication</mat-label>
                        <input
                            [(ngModel)] = "publicationData.dateOfPublication" 
                            type="date"
                            name="dateOfPublication"
                            matInput
                        />
                   </mat-form-field>

                    <mat-slide-toggle
                        name="active"
                        [(ngModel)] = "publicationData.active"
                        class="mt-2"
                        style="margin-bottom: 5px;">
                        Status de la publication
                    </mat-slide-toggle>

                    <!-- <mat-form-field class="w-100" appearance="fill">
                        <mat-label> Entrer nom de l'image </mat-label>
                        <input
                            [(ngModel)] = "publicationData.picture"
                            
                            type="text"
                            name="picture"
                            matInput
                        />
                   </mat-form-field> -->

                   <div>
                        <input type="file" multiple value="select" #selectFile  
                                (change)="onFileSelected($event)"
                        >
                   </div>

                    <br/>
                    <mat-form-field appearance="fill" class="mt-4 w-100">
                        <mat-label>Sélectionnez une catégorie </mat-label>
                        <mat-select name="category" [(ngModel)] = "publicationData.category.id">
                          <mat-option *ngFor="let c of categories" [value]="c.id">
                            {{ c.title }}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <div class="container text-center">
                        <button mat-raised-button type="submit" color="primary">Publier</button>
                    </div>
                    
                </form>

            </div>
        </div>
    </div>
</mat-card>
