<mat-toolbar class="navBar">
    <div class="bootstrap-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <a
                    href="/"
                    mat-icon-button
                    class="example-icon favorite-icon "
                    aria-label="Example icon-button with menu icon"
                    >
                        <mat-icon>school</mat-icon>
                    </a>
                    <span>KSpace</span>
                </div>

                <div class="col-md-8">
                    <span class="example-spacer"></span>
                    <a
                        *ngIf="!login.isLoggedIn()"
                        [routerLink]="'/login'"
                        mat-icon-button
                        class="example-icon favorite-icon "
                        aria-label="Example icon-button with heart icon"
                        >
                        Se connecter
                    </a>
            
                    <a
                        *ngIf="!login.isLoggedIn()"
                        [routerLink]="'/signup'"
                        mat-icon-button
                        class="example-icon favorite-icon "
                        aria-label="Example icon-button with heart icon"
                        >
                        S'inscrire
                    </a>

                    <a
                        *ngIf="login.isLoggedIn && user"
                        mat-button
                        routerLink="/admin/profil"
                        class="example-icon favorite-icon "
                        aria-label="Example icon-button with heart icon"
                        >
                        {{ user.username }}
                    </a>

                    <a
                        (click)="logout()"
                        [routerLink]="'/'"
                        *ngIf="login.isLoggedIn()"
                        mat-icon-button
                        class="example-icon favorite-icon "
                        aria-label="Example icon-button with heart icon"
                        >
                        Se déconnecter
                    </a>
                </div>

            </div> 
            
            
        </div>
    </div>

</mat-toolbar>
  