<mat-toolbar class="logo mat-elevation-z6">
    <div>
        <a
        href="/"
        mat-icon-button
        class="example-icon favorite-icon "
        aria-label="Example icon-button with menu icon"
        >
        <mat-icon>school</mat-icon>
        KSpace
    </a>
    </div>
    <span class="spacer"></span>
    
    <div class="">
        <a
        *ngIf="!login.isLoggedIn()"
        [routerLink]="'/login'"
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
        >
        Se connecter
        </a>
    </div>
    <div> 
        <a
        *ngIf="!login.isLoggedIn()"
        [routerLink]="'/signup'"
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
        >
        S'inscrire
        </a>
    </div>
    <div>
        <a
        *ngIf="login.isLoggedIn && user"
        mat-button
        routerLink="/admin/profil"
        class="example-icon favorite-icon "
        aria-label="Example icon-button with heart icon"
        
        >
        {{ user.username }}
        </a>
    </div>
    <div>
        <a
        (click)="logout()"
        [routerLink]="'/'"
        *ngIf="login.isLoggedIn()"
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
        >
        Se déconnecter
        </a>
    </div>
</mat-toolbar>
