
<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row mt40">
            <div class="col-md-6 offset-md-3">
                
                    <div class="container text-center">
                        <img src="../../../assets/LogoKspace.jpg" alt="" />
                    </div>
                    
                    <h1 class="connect">Connexion</h1>
                    <mat-card>
                        <!-- {{ loginData | json }} -->
                        <form (ngSubmit)="formSubmit()">    
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Username</mat-label>
                                <input
                                    [(ngModel)]="loginData.username"
                                    name="username"
                                    required
                                    matInput 
                                    placeholder="Entrer votre nom d'utilisateur"
                                />
                            </mat-form-field>
        
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Password</mat-label>
                                <input
                                    [(ngModel)]="loginData.password"
                                    name="password"
                                    type="password"
                                    required
                                    matInput 
                                    placeholder="Entrer votre mot de passe"
                                />
                            </mat-form-field>
        
                            <div class="">
                                <button mat-raised-button class="seConnecter" type="submit">Se connecter</button>
                            </div>
        
                        </form>
                    </mat-card>
            </div>

        </div>
    </div>
</div>