::ng-deep label.star {
    padding: 0 5px !important;
    font-size: 20px !important;
    color: #ddd !important;
    
}

.instructions {
    position: fixed;
	top: 80px;
	bottom: 30px;
	width: 100%;
	transition: all 0.3s;
	padding: 20px;
	overflow-y: auto;
}