<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>
    
    <div class="instructions container-fluid mt-5">
            <div class="row" >
                <div class="col-lg-3">
                    <mat-action-list>
                        <button 
                            routerLink="/user/0"
                            mat-list-item 
                        >
                            <mat-icon mat-list-icon>description</mat-icon> Retour
                        </button>
                    </mat-action-list>
                </div>
                <div class="col-lg-9">
                    <h1>Les details de l'article </h1>
                    <section>
                        <img mat-card-image src="../../../../assets/angular.png" width="100%" height="400px" alt="Photo of the content">
                    </section>
                    <div class="text-center mt-5">
                        <mat-card-header>
                            <mat-card-title>{{ publications.title  }}</mat-card-title>
                        </mat-card-header>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="text-center mt-5">
                        <mat-card-subtitle>{{ publications.category.title }}</mat-card-subtitle>
                    </div>
                    <div class="mt-5">
                        <mat-card-content >
                            <p>
                                {{ publications.content }}
                            </p>
                        </mat-card-content>
                    </div>
                    <!-- <mat-card class="example-card">
                        <img mat-card-image src="../../../../assets/angular.png" width="100%" height="400px" alt="Photo of the content">
                        <mat-card-header>
                            <mat-card-title>{{ publications.title  }}</mat-card-title>
                            <mat-card-subtitle>{{ publications.category.title }}</mat-card-subtitle>
                        </mat-card-header>
                        
                        <mat-card-content class="mt-5">
                            <p>
                                {{ publications.content }}
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <ngx-star-rating [id]="'rating'"></ngx-star-rating>
                            <button mat-button>Partager</button>
                            <button mat-button color="primary"> {{ publications.nbreOfViews }} </button>
                        </mat-card-actions>
                    </mat-card> -->
                    
                </div>
            </div>
        </div>
    
</body>
</html>