<mat-card>
    <mat-action-list>
        <div mat-subheader> Menu </div>
        <button routerLink="/admin/" mat-list-item >
            <mat-icon mat-list-icon>home</mat-icon> Accueil
        </button>
        <button routerLink="/admin/profil" mat-list-item >
            <mat-icon mat-list-icon>account_circle</mat-icon> Profil
        </button>
        <button routerLink="/admin/profil" mat-list-item >
            <mat-icon mat-list-icon>list</mat-icon> Catégorie
        </button>
        <button routerLink="/admin/profil" mat-list-item >
            <mat-icon mat-list-icon>add_circle_outline</mat-icon> Ajout catégorie
        </button>
        <button routerLink="/admin/profil" mat-list-item >
            <mat-icon mat-list-icon>article</mat-icon> Publications
        </button>
    </mat-action-list>
</mat-card>