/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

@import '~material-design-icons/iconfont/material-icons.css'; /* Optionnel*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
        color: #6c757d;
        line-height: 1.6666;
        font-weight: 400;
}



.logo {
    background-color: #45ABB6;
}

html,
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

