<div class="bootstrap-wrapper mt-5">
    <div class="container-fluid">
        <h1> Les publications disponibles </h1>
        <div class="row mt-5" *ngIf="publications">
            
            <div class="col-md-4" *ngFor="let p of publications">
                <mat-card>
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>
                            {{ p.title }}
                        </mat-card-title>
                        
                        <mat-card-subtitle>
                            {{ p.category.title }}
                        </mat-card-subtitle>

                    </mat-card-header>

                    <mat-card-content>
                        <p class="truncate">
                            {{ p.content }}
                        </p>
                    </mat-card-content>

                    <mat-card-actions>
                        <button mat-button color="primary">voir plus </button>
                        <button mat-button color="primary"> {{ p.nbreOfViews }} </button>
                        <button mat-button color="primary"> {{ p.active }} </button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</div>