body {
    height: 3000px;
}

.truncate {
    display: block;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.carte {
    padding: 20px;
    border-radius: 25px;
    
}

.colonnes {
    margin: 0 auto;
    padding: 10px;
}

.example-header-image {
    background-image: url("../../../../assets/knowledge1.jpeg");
    background-size: cover;
}

.box {
    padding: 10px 10px;
    border-radius: 25px;
    height: 55vh;
    box-shadow: 0 0 2px blue;
}


.listPub {
	top: 60px;
	bottom: 30px;
	transition: all 0.3s;
	padding: 20px;
}