.truncate {
    display: block;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.carte {
    padding: 20px;
    border-radius: 25px;
}

.example-header-image {
    background-image: url("../../../../assets/knowledge1.jpeg");
    background-size: cover;
}

.box {
    padding: 10px 10px;
    border-radius: 35px;
}

