<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid mt-5">

        <div class="row">
            <div class="col-lg-3">
                <mat-card >
                    <mat-action-list>
                        <button 
                            routerLink="/user/0"
                            mat-list-item 
                            >
                            <mat-icon mat-list-icon>description</mat-icon> Toutes les Publications
                        </button>
                        
                        <button
                            [routerLink]="'/user/' + c.id "
                            mat-list-item
                            *ngFor="let c of categories"
                            >
                            <mat-icon mat-list-icon>account_circle</mat-icon> {{ c.title }}
                        </button>
                        <button routerLink="/user/add-publication" mat-list-item >
                            <mat-icon mat-list-icon>add</mat-icon> Faire une publication
                        </button>
                        
                    </mat-action-list>
                </mat-card>
            </div>
            <div class="col-lg-9">
                <h4>Les plus récentes</h4>
    
                <div class="row mt-5" *ngIf="publications">
                    <div *ngFor="let p of publications" class="carte col-lg-4 mt-3 mb-3">
                        <div class="box">
                            <img src="../../../../assets/knowledge1.jpeg" width="100%" height="200px" alt="">
                            <mat-card-title>
                                <h5 class="mt-2 mb-2">{{ p.title }}</h5>
                            </mat-card-title>
            
                            <mat-card-subtitle>
                                {{ p.category.title }}
                            </mat-card-subtitle>
            
                        
                        </div>
            
                        <mat-card-content>
                            <p class="truncate">
                                {{ p.content }}
                            </p>
                        </mat-card-content>
                        <a [routerLink]="'/user/instructions/'+p.id" class="btn btn-dark btn-sm">Read more </a>
                        
                    </div>
                </div>
            </div>
        </div>

        
    </div>
    
    
</body>
</html>