<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid mt-5">
        
        <div class="row">
            <div class="sidebar1 col-lg-3">
                <mat-card >
                    <mat-action-list>
                        <button 
                            routerLink="/user/0"
                            mat-list-item 
                            >
                            <mat-icon mat-list-icon>description</mat-icon> Toutes les Publications
                        </button>
                        
                        <button
                            [routerLink]="'/user/' + c.id "
                            mat-list-item
                            *ngFor="let c of categories"
                            >
                            <mat-icon mat-list-icon>account_circle</mat-icon> {{ c.title }}
                        </button>
                        <button routerLink="/user/add-publication" mat-list-item >
                            <mat-icon mat-list-icon>add</mat-icon> Faire une publication
                        </button>
                        
                    </mat-action-list>
                </mat-card>
            </div>
            <div class="listPub col-lg-9">
                <div class="row">
                    <h2>Les plus récentes</h2>
                    <app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>
                
                    <span *ngFor="let p of publications" class="carte col-lg-4 mt-3 mb-3">
                    <div  *ngIf="searchText === '' || p.title.includes(searchText)">
                        <div class="card box">
                            <img class="rounded-t-x1 w-full h-36 object-cover" src="../../../../assets/knowledge1.jpeg"  alt="">
                            <mat-divider ></mat-divider>
                            <mat-card-header class="mt-3">
                                <mat-card-title>
                                    {{ p.title }}
                                </mat-card-title>
                                <mat-card-subtitle>
                                    {{ p.category.title }}
                                </mat-card-subtitle>
                            </mat-card-header>
                
                            <mat-card-content>
                                <p class="truncate">
                                    {{ p.content }}
                                </p>
                            </mat-card-content>
                            <a [routerLink]="'/user/instructions/'+p.id" class="w-25 btn btn-success btn-sm">Lire plus </a>
                        </div>
                    </div> 
                </span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>