<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des catégories</title>
</head>
<body>
    <div class="listCategorie " >
        <h1>Toutes les catégories</h1>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table student-data-table m-t-20">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let c of categories">
                        <tr>
                            <td>
                                {{ c.id }}
                            </td>
                            <td>
                                {{ c.title }}
                            </td>
                            <td>
                                <button 
                                    class="w-20 btn btn-warning" 
                                    [routerLink]="'/admin/category/' + c.id"
                                    >
                                        Editer
                                    </button>
                                <button 
                                    class="w-20 btn btn-danger"
                                    (click)="deleteCategory(c.id)"

                                    >
                                    Supprimer
                                </button>
                            </td> 
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <div class="container text-center mt-4">
        <button routerLink="/admin/add-category" mat-raised-button color="primary">Ajouter une catégorie</button>
    </div>
        
</body>
</html>